{% extends "base.html" %}

{% load static %}

{% block content %}

  <div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card-custom">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <img id="imagePage" src="{{ producto.img_prod.url }}" alt="{{ producto.desc_prod }}">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card-body">
                        <h5 id="tituloPage">{{ producto.titulo_prod }}</h5>
                        <p id="volPage">Volumen: {{ producto.volumen_prod }}</p>
                        <p id="pricePage">Precio: ${{ producto.precio_prod }}</p>
                        <p id="stockPage">Stock: {{ producto.stock_prod }}</p>
                        <p id="editorialPage">Editorial: {{ producto.editorial_prod }}</p>
                        <p id="descPage">{{ producto.desc_prod }}</p>
                        <a id="volverPage" href="{% url 'comic_list' %}" class="btn btn-warning">Volver</a>
                        <a href="{% url 'carro:add_to_cart' producto.id_prod %}" class="btn btn-success">Agregar al Carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
{% endblock %}
