{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card-custom">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <img id="imagePage" src="{{ producto.img_prod.url }}" alt="{{ producto.desc_prod }}">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card-body">
                        <h5 id="tituloPage">{{ producto.titulo_prod }}</h5>
                        <p id="volPage">Volumen: {{ producto.volumen_prod }}</p>
                        <p id="pricePage">Precio: ${{ producto.precio_prod }}</p>
                        <p id="stockPage">Stock: {{ producto.stock_prod }}</p>
                        <p id="editorialPage">Editorial: {{ producto.editorial_prod }}</p>
                        <p id="descPage">{{ producto.desc_prod }}</p>
                        <a id="volverComic" href="{% url 'comic_list' %}" class="btn btn-warning">+ Comics</a>
                        <a id="volverManga" href="{% url 'manga_list' %}" class="btn btn-warning">+ Mangas</a>
                        <a id="volverInicio" href="{% url 'home' %}" class="btn btn-warning">Inicio</a>
                        {% if user.is_authenticated %}
                        <a id="liveAlertPlaceholder" href="{% url 'carro:add_to_cart' producto.id_prod %}" class="btn btn-success">Agregar</a>
                        {% endif %}
                        {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} mt-2">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const stock = parseInt("{{ producto.stock_prod }}");
    const addToCartButton = document.querySelector('#liveAlertPlaceholder');

    if (stock === 0) {
        addToCartButton.classList.add('disabled');  // Agrega la clase 'disabled' para deshabilitar el estilo del botón
        addToCartButton.setAttribute('aria-disabled', 'true');  // Atributo para accesibilidad
        addToCartButton.addEventListener('click', function(event) {
            event.preventDefault();  // Evita que se ejecute la acción predeterminada del clic
            alert('No hay stock disponible para este producto.');  // Puedes agregar un mensaje o alerta personalizada
        });
    }
});
</script>

{% endblock %}
